:root {
    --project-card-image-width: 18rem;
    --project-card-gap: 8rem;
    --project-item-width: calc(var(--project-card-image-width) + var(--project-card-gap));
    --name-gradient: linear-gradient(90deg, #5ccccd, #000000);
    --card-animation-time: 0.3s;
    --background-color: aliceblue;
}
  

html, body {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 10rem;
}

main::before {
    content: '';
    
    background-color: var(--background-color);
	background-image: url(/images/grid-background.svg);
    background-attachment: fixed;
    
    position: fixed;
    top:0 ;

    height: 100%;
    width: 100%;
    z-index: -1;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--project-card-gap);
    max-width: calc((var(--project-item-width) * 3) - var(--project-card-gap));

    padding: 2rem;
    margin: auto;

    list-style: none;
}

.project {
    height: 340px;
}

.project-card {
    color: white;
    background-color: rgb(29, 29, 29);

    display: flex;
    flex-direction: column;

    max-width: 18rem;

    border-radius: 0.6rem;
	box-shadow: 3px 5px 5px rgb(165, 165, 165);
    transition: all var(--card-animation-time) ease;
}

.project:focus {
    outline: none;
}

.project:focus-within .project-card-image, .project:hover .project-card-image {
    border-radius: 0.6rem 0.6rem 0 0;
	transform: scale(1);
    margin-bottom: 0.55rem;
}

.project-card-title {
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    overflow: hidden;

    margin: 0;
}

.project-card-image {
    width: var(--project-card-image-width);
    height: var(--project-card-image-width);
    
    border-radius: 0.4rem 0.4rem 0 0;

    transform: scale(0.95);
    transition: all var(--card-animation-time) ease;

    cursor: pointer;
}

.project-card-footer {
    display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 0.25rem 0.7rem 0.7rem;
}

.project-card-button {
	color: rgb(0, 0, 0);
    background-color: #ffffff;
	
    padding: 0.4rem 1rem;

    border: none;
	border-radius: 1rem;

    cursor: pointer;
}

.project-card-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1280px) {
    .project-list {
        max-width: calc((var(--project-item-width) * 3) - var(--project-card-gap));
    }

    :root {
        --project-card-gap: 6rem;
    }
}

@media screen and (max-width: 1180px) {
    .project-list {
        max-width: calc((var(--project-item-width) * 2) - var(--project-card-gap));
    }

    :root {
        --project-card-gap: 8rem;
    }
}

@media screen and (max-width: 830px) {
    .project-list {
        max-width: calc((var(--project-item-width) * 2) - var(--project-card-gap));
    }

    :root {
        --project-card-gap: 4rem;
    }
}

@media screen and (max-width: 736px) {
    .project-list {
        max-width: calc((var(--project-item-width) * 1) - var(--project-card-gap));
    }
}

@media screen and (max-width: 400px) {
    .project-list {
        padding: 0;
    }
}

.navbar {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 3rem;
    background-color: white;

    z-index: 1000;
}
.nav-title {
    align-self: center;
	font-weight: bold;
	background-image: var(--name-gradient);
	-webkit-background-clip: text;
	color: transparent;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.header {
    position: absolute;
    display: flex;
    height: 16rem;
    top: 3rem;
    width: 100%;
}

.header-content {
    position: sticky;
    top: 3rem;
    width: 100%;
    height: 7rem;
    background-color: white;
    z-index: 999;
}

.header-title, .header-subtitle {
    margin: 0;
}

footer {
    background-color: white;

    padding: 1rem;
}
