body {
	background-color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16pt;
}

h1 {
	text-align: left;
	color: white;
  padding: 0px;
  margin: 0px 10px 10px 10px;
}

p {
	margin: 0% 5%;
	font-size: 16pt;
	font-family: 'Times New Roman', Times, serif;
	color: white;
}

ul {
	list-style-type: none;
	background-color: black;
	vertical-align: center;
	margin: 0px;
	padding: 10px 0px 10px 0px;
	top: 0px;
	width: 100%;
	position: fixed;
	/* Make it stick, even on scroll */
	overflow: auto;
	/* Enable scrolling if the sidenav has too much content */
}

ul li {
	display: inline;
	color: aquamarine;
	margin: 16px 16px;
}

li a {
	text-decoration: none;
	color: aquamarine;
}

/* Change the link color on hover */
li a:hover {
	color: white;
}

.active {
	color: skyblue;
}

.body {
	padding: 20px;
	margin-top: 30px;
  background-color: #1abc9c;
	height: auto;
}

ul.achievement {
	list-style-type: circle;
	background-color: transparent;
	position: relative;
	/* Make it stick, even on scroll */
}

li.achievement {
	display: list-item;
	color: white;
	margin: 0% 8%;
}

.home-block{
  position: relative;
  margin: 20px;
  padding: 50px;
  background-color: grey;
  width: 40%;
  border-radius: 20px;
}
